* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #222;
    background-color: #fefde3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ebe9ed' fill-opacity='0.28' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
}

a {
    color: #222;
    text-decoration: none;
}

ul {
    list-style: none;
}

.contenedor {
    width: 90%;
    margin: auto;
}

/* Navegacion */
.nav-main {
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-main ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.nav-main ul li a:hover {
    padding: 0;
    border-bottom: 2px solid #222;
}


/* Boton menu */
.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 30px;
    z-index: 10;
    display: none;
    width: 25px;
    height: 25px;
}

/* Principal */
.principal {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-areas: "info info foto";
    gap: 15px;
    margin-bottom: 50px;
    padding-right: 50px;
    padding-left: 20px;
    align-items: center;
}

.info {
    grid-area: info;
}

.info h1 {
    font-size: 36px;
}

.info h1,
.info p,
.info div {
    margin: 10px 0 20px 0;
}

.foto {
    grid-area: foto;
}

.foto img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.social {
    padding: 0 25px 0 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.social a {
    font-size: 20px;
}

/* Sobre mi */
#sobre-mi {
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
    padding: 20px 0
}

#sobre-mi h2 {
    font-size: 30px;
    margin: 20px 0;

}

/* Formacion */
#formacion {
    width: 100%;
    height: 550px;
    margin-bottom: 20px;
    padding: 20px 0;
}

#formacion h2 {
    font-size: 30px;
    margin: 20px 0;
}

#formacion ul {
    padding-left: 25px;
    list-style: disc;
}

#formacion ul li {
    padding: 10px 0;
}

/* Hobbies */
#hobbies {
    width: 100%;
    height: 550px;
    margin-bottom: 20px;
    padding: 20px 0;
}

#hobbies h2 {
    font-size: 30px;
    margin: 20px 0;
}

.contenedor-hobbies {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.cuadrados {
    border: #222 solid 2px;
    text-align: center;
    width: 200px; /* Siempre indicar un ancho */
    margin: 0 auto;
    padding: 50px 0;
}

.cuadrados p {
    padding-top: 10px;
    font-size: 20px;
}

.cuadrados i {
    font-size: 30px;
}

/* Pie de pagina */
.footer {
    height: 200px;
    background-color: #222;
    color: #fcfbe3;
    padding: 50px;
}

.footer h3 {
    font-size: 15px;
    padding: 10px 0;
}

.footer h3 a {
    color: #fcfbe3;
}

/* Web Responisve */
@media (max-width: 1000px) {
    .nav-main {
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 20px 0;
    }

    .nav-main ul {
        display: flex;
    }

    .nav-main ul li {
        padding: 10px;
    }

    .nav-main ul li a {
        padding: 4px;
    }

    .contenedor-hobbies {
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .social {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .nav-main {
        font-size: 15px;
    }
    .principal {
        display: inline-block;
    }

    #sobre-mi {
        height: 800px;
    }

    .info h1 {
        font-size: 32px;
    }

    .foto {
        text-align: center;
        width: auto; /* Siempre indicar un ancho */
        margin: 0 auto;
        padding: 50px 0;
    }
}

@media (max-width: 700px) {
    .menu-btn {
        display: block;
    }

    .nav-main h3 {
        padding-left: 45px;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ccc;
        height: 100%;
        padding: 32px;
        opacity: 0.9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size: 14px;
    }

    .nav-main ul.nav-menu li a {
        font-size: 17px;
    }
}

@media (max-width: 500px) {
    #sobre-mi {
        height: 1000px;
    }

    #formacion {
        height: 800px;
    }

    #hobbies {
        height: 850px;
    }
    .contenedor-hobbies {
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }

}